@model StarSecurityServices.viewmodel.login
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signinmanager;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="zxx">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/css/animate.min.css">
<link rel="stylesheet" href="~/assets/css/boxicons.min.css">
<link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
<link rel="stylesheet" href="~/assets/css/flaticon.css">
<link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
<link rel="stylesheet" href="~/assets/css/nice-select.min.css">
<link rel="stylesheet" href="~/assets/css/odometer.min.css">
<link rel="stylesheet" href="~/assets/css/style.css">
<link rel="stylesheet" href="~/assets/css/responsive.css">

<link rel="icon" type="image/png" href="~/assets/img/favicon2.png">

<title>Seqty - Cyber Security Services Company HTML Template</title>
</head>
<body>

<div class="preloader">
<div class="loader">
<div class="loader-outter"></div>
<div class="loader-inner"></div>
<div class="indicator">
<svg width="16px" height="12px">
<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
</svg>
</div>
</div>
</div>


<header class="header-area">

<div class="top-header">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-sm-6">
<ul class="header-left-content">
<li>
<i class="bx bx-phone-call"></i>
<a >+923353073326</a>
</li>
</ul>
</div>
<div class="col-lg-6 col-sm-6">
<ul class="header-right-content">
<li>
<a href="#" target="_blank">
<i class="bx bxl-facebook"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="bx bxl-instagram"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="bx bxl-linkedin"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="bx bxl-twitter"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>



<div class="navbar-area">
<div class="mobile-nav">
<div class="container">
<a href="index.html" class="logo" href="@Url.Action("Index", "Index")">
<img src="~/assets/img/logo.png"  alt="Logo">
</a>
</div>
</div>
<div class="main-nav">
<div class="container">
<nav class="navbar navbar-expand-md">
<a class="navbar-brand" href="@Url.Action("Index", "Index")" >
<img src="~/assets/img/logo.png" alt="Logo" >
</a>
<div class="collapse navbar-collapse mean-menu">
<ul class="navbar-nav m-auto">
<li class="nav-item">
<a asp-action="About" asp-controller="Index" class="nav-link active">
About
</a>
</li>

<li class="nav-item">
    <a href="#" class="nav-link">
    Services
    <i class="bx bx-chevron-down"></i>
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a asp-action="Create" asp-controller="Mybooking" class="nav-link">Manned Guarding</a>
    </li>
    <li class="nav-item">
    <a asp-action="serv" asp-controller="Mybooking" class="nav-link">Cash in Transit</a>
    </li>
    <li class="nav-item">
    <a asp-action="book" asp-controller="Mybooking" class="nav-link">Electronic Services</a>
    </li>
    </ul>
    </li>
<li class="nav-item">
<a asp-action="Career" asp-controller="Index" class="nav-link">
Career
</a>
</li>
<li class="nav-item">
<a asp-action="Clients" asp-controller="Index" class="nav-link">
Clients
</a>
</li>
<li class="nav-item">
    <a asp-action="Contacts" asp-controller="Index" class="nav-link">
        Contact
    </a>
</li>
@if (signinmanager.IsSignedIn(User)){

                <li class="nav-item">
                    <a href="@Url.Action("Index","Index")">
                        @User.Identity.Name <i class="bi bi-person"></i>

                    </a>
                    &nbsp;
                    <a href="@Url.Action("Logout","Index")">
                        Logout <i class="bi bi-person"></i>

                    </a>
                </li>
}
else{
<li class="nav-item">
<a asp-action="Login" asp-controller="Index" class="nav-link">
Login
</a>
</li>

}
</ul>
</div>
</nav>
</div>
</div>
</div>
</header>
<div class="page-title-area " style="margin-top: 48px;" >
    <div class="container">
    <div class="page-title-content">
    <ul>
    <li>
    <a href="@Url.Action("Index", "Index")">
    <i class="bx bx-home"></i>
    Home
    </a>
    </li>
    <li class="active">Login Us</li>
    </ul>
    </div>
    </div>
    </div>
<section class="user-area-style ptb-100 mt-5">
    <div class="container">
        <div class="contact-form-action">
        <div class="account-title">
    <img  src="assets/img/favicon2.png" alt="" srcset="" style="display: block; margin-left: auto; margin-right: auto; width: 80px; background-repeat: no-repeat;">
<h6 class="mb-4" style="text-align: center;">Star Security</h6>
<h2>Log in</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="col-12">
            <button class="default-btn" type="submit">
        <span>Log in now</span>
        </button>
        </div>
        </form>
    </div>
</div>
</div>
</div>
</section>

@*<section class="user-area-style ptb-100 mt-5">
<div class="container">
<div class="contact-form-action">
<div class="account-title">
    <img  src="assets/img/favicon2.png" alt="" srcset="" style="display: block; margin-left: auto; margin-right: auto; width: 80px; background-repeat: no-repeat;">
<h6 class="mb-4" style="text-align: center;">Star Security</h6>
<h2>Log in</h2>
</div>
<form asp-action="Login"> 
<div class="row">
<div class="col-12">
<div class="form-group">
<label asp-for="UserName">UserName</label>
<input asp-for="UserName" class="form-control" type="text" name="name">
<span asp-validation-for="UserName" class="text-danger"></span>
</div>
</div>
<div class="col-12">
<div class="form-group">
<label asp-for="Password">Password</label>
<input asp-for="Password" class="form-control" type="password" name="password">
<span asp-validation-for="Password" class="text-danger"></span>
</div>
</div>
<div class="col-12">
<div class="login-action">
<span class="log-rem">
<input id="remember" asp-for="RememberMe" type="checkbox">
<label for="remember">@Html.DisplayNameFor(model => model.RememberMe)</label>
</span>
</div>
</div>
<div class="col-12">
<button class="default-btn" type="submit">
<span>Log in now</span>
</button>
</div>
</div>
</form>
</div>
</div>
</section>*@



    
    <div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
    </div>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/meanmenu.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/nice-select.min.js"></script>
<script src="~/assets/js/magnific-popup.min.js"></script>
<script src="~/assets/js/jarallax.min.js"></script>
<script src="~/assets/js/appear.min.js"></script>
<script src="~/assets/js/odometer.min.js"></script>
<script src="~/assets/js/smoothscroll.min.js"></script>
<script src="~/assets/js/form-validator.min.js"></script>
<script src="~/assets/js/contact-form-script.js"></script>
<script src="~/assets/js/ajaxchimp.min.js"></script>
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/custom.js"></script>
</body>
</html>